.parent{
    -fx-background-color: darkviolet;
    -fx-background-radius: 30px;
}

.sidebar{
    -fx-background-color: darkviolet;
    -fx-background-radius: 0px 0px 0px 0px ;
}

.sidebar_opt{
    -fx-fill: indigo;
}

.sidebar_opt1{
    -fx-fill: Black;
}

.pane{
    -fx-background-color: #FFFFFF;
    -fx-border-color: HONEYDEW;
    -fx-background-radius: 0px 0px 30px 30px ;
    -fx-border-radius: 0px 0px 30px 30px ;
}